* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: auto;
    font-family: Palatino, calibri, sans-serif;
    font-size: 14px;
    font-weight: normal;
    /* background-image: url("https://images.pexels.com/photos/672636/pexels-photo-672636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
    */
    /* text-align: center; 
    https://images.pexels.com/photos/1749/fire-orange-emergency-burning.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
    https://images.pexels.com/photos/216634/pexels-photo-216634.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
    https://images.pexels.com/photos/216635/pexels-photo-216635.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940
    */
}
p {
    font-size: 1.5em;
    line-height: 2;
    margin: 25px 50px;
}
p > a {
    font-size: 1em;
    text-decoration: none;
}
.shop > a {
    text-decoration: none;
    margin: 50px;
}
.navbar > a {
    margin: 2px 5px;
}
.navbar {
    text-align: right;
}
img {
    height: auto;
    max-height: 90vh;
    width: 100vw;
    /* max-width: 90vw; */
    align-content: center;
}
.top > img {
    margin: 0px 50px;
}
.fullCard {
    font-size: 1em;
    text-align: center;
}
.fullCard > h5 {
    font-size: 2.5em;
}
.fullCard > img {
    width: 60vw;
    height: auto;
}
.shop > img {
    width: 60vw;
    margin: 50px 200px;
}
.contact > img, .about > img {
    width: 100vw;
}
iframe {
    /* height: auto; */
    /* width: 90vw; */
    width: 80%;
    border: none;
    margin: 20px 50px;
    min-height: 30em;
    /* position: absolute; */
}
Form {
    display: block;
}
h1 {
    font-family: Lora, serif, calibri, sans-serif;
    font-size: 4em;
    font-weight: 100;
    text-align: center;
    margin: 25px 10px;
}
h3 {
    font-size: 1.5em;
    margin: 25px 50px;
}
.card :hover {
    font-weight: bold;
    transition: opacity 200ms linear 200ms;
}
h4 {
    font-size: 1.2em;
    margin: -15px 0px 90px 0px;
    text-decoration: underline;
    color: blue;
    text-align: center;
}
h5 {
    font-size: 1.5em;
    line-height: 1.5;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin: 25px 50px;
}
h5 > a {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
}
h6 {
    font-family: Lora, serif, calibri, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
    margin: 20px 200px 0px 200px;
    line-height: 2.5em;
}
input {
    display: block;
    margin: 5px 50px;
    width: 30%;
    padding: 5px;
}
form > input {
    width: 60%;
}
.contact > input, .shop > input, .performances > input {
    display: block;
    margin: 5px 50px;
    width: 30%;
    padding: 5px;
}
textarea {
    width: 80%;
    height: 200px;
    margin: 5px 50px;
    padding: 5px;
    border: 1px solid rgb(177, 177, 177, .5);
}
.shop > p {
    margin: 10px 200px 0px 200px;
    text-align: center;
}
.sep {
    border-bottom: 0.5px solid rgb(139, 139, 139, 0.6);
}
.sep > button, form > button {
    margin: 10px;
    padding: 9px 15px;
    border-radius: 3px;
    font-family: Apple Braille, -apple-system, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: gold;
    background: #ca2017;
}
.top-nav {
    margin: 5px 100px 5px 50px;
    /* display: inline-block; */
}    
.top-nav > a {
    font-family: Apple Braille, -apple-system,  sans-serif;
    background-color: white;
    font-size: 1.2em;
    padding: 11px 15px 9px 15px;
    font-weight: bold;
    color: black;
    text-align: center;
    text-decoration: none;
    /* cursor: pointer; */
}
.top-nav > button:hover, .top-nav > a:hover, h4:hover {
    background: #ca2017;
    opacity: 1;
    border-radius: 3px;
    color: gold;
    text-decoration: none;
    transition: all 200ms linear 200ms;
}
.top-nav > button {
    opacity: 0.5;
    position: absolute;
    position: fixed;
    right: 15px;
    top: 5px;
    background: white;
    border-radius: 3px;
    font-size: 1.2em;
    /* border: none;   */
    padding: 10px 15px 9px 15px;
    font-family: Apple Braille, -apple-system, sans-serif;
    font-weight: bold;
    color: black;
    transition: all 200ms linear 200ms;
}
.authForms > button, .auth > button {
    font-size: 1.2em;
    padding: 9px 15px;
    border-radius: 3px;
    margin: -50px 0px 30px 0px;
    font-family: Apple Braille, -apple-system, sans-serif;
    font-weight: bold;
    color: gold;
    background: #ca2017;
    transition: all 200ms linear 200ms;
    /* background-image: url("https://images.pexels.com/photos/207353/pexels-photo-207353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
}
.auth {
    text-align: center;
    /* width: 20px; */
}
.authForms > button:hover , .auth > button:hover {
    font-style: italic;
    font-weight: bold;
    transition: all 200ms linear 200ms;
}
/* button:hover, a:hover {
    font-style: italic;
    font-weight: bold;
} */
.videos {
    text-align: center;
}
.app-container {
    height: 100%;
    width: 100vw;
    background-color: violet;
    z-index: -1;
    transition: all 200ms linear 200ms;
}
.app-container > button {
    opacity: 0.5;
    position: absolute;
    position: fixed;
    left: 15px;
    top: 5px;
    padding: 11px 10px 9px 10px;
    border-radius: 3px;
    font-size: 1.3em;
    transition: all 200ms linear 200ms;
    /* margin: 10px; */
}
.app-container > button:hover {
    background: #ca2017;
    opacity: 1;
    color: gold;
}
.nav > a {
    /* color: #e29522; lighter flame */
    color: #e25822; /* flame */
    font-size: 2em;
    text-decoration: none;
}
.nav > a:hover {
    font-size: 2.2em;
    font-style: italic;
    font-weight: bold;
}
p > a:hover {
    font-style: italic;
    font-weight: bold;
    color: #CA2017;
}
.nav {
    z-index: 1;
    height: 100%;
    width: 200px;
    color: white;
    background-color: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    transition: left 1200ms cubic-bezier(0.42,0,0.58,1);
}
.nav > p {
    font-size: 2em;
}
.nav-closed {
    left: -200px;
}
.nav-open {
    left: 0px;
}
.overlay {
    margin-top: -10px;
    width: 100%;
    height: 100%;
    background-image: url("https://images.pexels.com/photos/207353/pexels-photo-207353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    opacity: 0.88;
    /* background-color: #6673e7; */
    z-index: 1;
    background-size: 100%;
    position: fixed;
    /* position: sticky; */
    transition: right 1200ms cubic-bezier(0.42,0,0.58,1);
}
.overlay-open {
    right: 0px;
}
.overlay-closed {
    right: -100vw;
}
/* .card {
    background-image: URL("https://images.pexels.com/photos/672636/pexels-photo-672636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
} */
.card > img {
    border: 1px solid black;
    max-width: 270px;
    width: 90%;
    margin: 5px 5px;
}
.card > h3, .card > p {
    margin: 5px;
    padding: 0px;
    text-align: center;
    align-items: center;
}
.shop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    /* background-image: URL("https://images.pexels.com/photos/672636/pexels-photo-672636.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
    background-image: URL("https://images.pexels.com/photos/1749/fire-orange-emergency-burning.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
.fb-wrapper > img {
    height: 500px;
    width: 500px;
}
.fb1 {
    font-family: Arial;
    margin: -20px 50px 30px 50px;
    padding: 275px 8px 8px 65px;
    color: white;
    height: 300px;
    width: 300px;
    display: flex;
    text-decoration: none;
    background-size: 100%;
    background-image: url("https://scontent.fslc1-1.fna.fbcdn.net/v/t1.0-0/c33.0.200.200a/p200x200/56214439_2301241610132448_3864521567606145024_n.jpg?_nc_cat=108&_nc_ht=scontent.fslc1-1.fna&oh=d49759cb3fc5e4e6b0b6fa6c45660b51&oe=5D5BD30A");
}
.fb2 {
    font-family: Arial;
    margin: 0px 50px 50px 50px;
    padding: 0px 0px 0px 95px;
    color: black;
    height: 166px;
    width: 300px;
    display: flex;
    text-decoration: none;
    background-size: 100%;
    background-image: url("https://scontent.fslc1-1.fna.fbcdn.net/v/t1.0-9/54393329_2320206888233205_5512886898634260480_o.jpg?_nc_cat=108&_nc_ht=scontent.fslc1-1.fna&oh=351f77f9cae85f598696ea678bf6d2e2&oe=5D77DEEF");
}
@media only screen and (max-width: 1000px){
    .shop {
        grid-template-columns: 1fr 1fr;
    }
    h5 {
        font-size: 1.5em;
    }
    h6 {
        margin: 20px 150px 0px 150px;
        line-height: 2.2em;
    }
    .fb > p {
        font-size: 14px;
    }
    .fb1 {
        padding: 180px 8px 8px 10px;
        height: 200px;
        width: 200px;
        text-decoration: none;
    }
    .fb2 {
        padding: 3px 8px 8px 50px;
        height: 111px;
        width: 200px;
        text-decoration: none;
    }
    .fb-wrapper > img {
        /* float: right; */
        height: 300px;
        width: 300px;
    }
}

@media only screen and (max-width: 666px){
    * {
        font-size: .95em;
    }
    .shop {
        grid-template-columns: 1fr;
    }
    h6 {
        margin: 20px 80px 0px 80px;
        line-height: 2em;
    }
    .top-nav {
        display: none;
    }
    .app-container > button, .top-nav > button {
        font-size: .8em;
        padding: 4px 7px;
    }
    .contact > input, .shop > input, .performances > input {
        width: 50%;
    }
    .fb1 {
        padding: 144px 2px 8px 2px;
        height: 160px;
        width: 160px;
        text-decoration: none;
    }
    .fb2 {
        padding: 3px 8px 8px 30px;
        height: 83px;
        width: 160px;
        text-decoration: none;
    }
    .fb-wrapper > img {
        height: 200px;
        width: 200px;
    }
}